<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/static/js/p5.js"></script>
    <script src="/static/js/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/canvas_controls.css">
    <link rel="stylesheet" type="text/css" href="/static/css/display_controls.css">
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="container">
      <div class="main-content-wrapper">
        <div id="canvas-container">
          <div class="controls">
            <textarea id="protocolInput" placeholder="Enter the full protocol python script..."></textarea>
            <div class="button-group">
              <form> Robot: 
                <label>
                  <input type="radio" name="choice" value="OT-2">
                  OT-2
                </label>
                <label>
                  <input type="radio" name="choice" value="Flex" checked>
                  Flex
                </label>
              </form>
              <label for="jsonProtocolUpload" class="upload-button">
                Upload Labware JSON
                <input type="file" id="jsonProtocolUpload" accept=".json" multiple style="display: none;">
              </label>
              <button id="addProtocol">Load Protocol</button>
              <button id="runButton" disabled>Simulate</button>
              <button id="pauseButton" disabled>⏸️</button>
              <button id="playButton" disabled>⏹️</button>
              <!--
              <label for="jsonLayoutUpload" class="upload-button">
                Upload Layout JSON
                <input type="file" id="jsonLayoutUpload" accept=".json" multiple style="display: none;">
              </label>
              -->
            </div>
            <div class="slider-container">
              <div>
                <span id="stepSliderText">Action ( / ):</span>
                <div class="slider-labels">
                  <span>Start</span>
                  <input type="range" id="stepSlider" min="1" max="2" value="1" step="1">
                  <span>End</span>
                </div>
              </div>
              <div>
                <label for="speedSlider">Speed (steps / second):</label>
                <div class="slider-labels">
                  <span>1</span>
                  <input type="range" id="speedSlider" min="1" max="20" value="1" step="1">
                  <span>20</span>
                </div>
              </div>
              
            </div>
            <div id="labware-keys-container">
              <h4>Uploaded Custom Labware</h3>
              <ul id="labware-keys-list"></ul>
            </div>
          </div>
          
        </div>
        <div id="display-controls" style="visibility: hidden;">
          <div id="color-selectors">
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/display_table.js"></script>
    <script src="/static/js/upload_labware_layout.js"></script>
    <script src="/static/js/upload_protocol.js"></script>
    <script src="/static/js/color_buttons.js"></script>
    <script src="/static/js/sketch.js"></script>
  </body>
</html>